/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --color-azul:#2A7AE4;
    --color-celeste: linear-gradient(to bottom, #094293, #0072C6);
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
    padding-left: 0.4rem;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}


/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/
/* Esto es el toolbar */
section.menu {
    padding-top: 6px;
    display: flex;
    /* Espacio entre el menú y el logo */
    justify-content: space-around;
    align-items: start;
    position: fixed;
    width: 100%;
    background-color: var(--cor-de-fundo);
    z-index: 1; 
    margin-top: 0;
    background-color: #000;
    color: whitesmoke;
}


.menu a{
    color: whitesmoke;
}
section.menu .menu__list {
    display: flex;


}

section.menu .menu__list__item {
    padding: 0 10px;

}

section.menu .menu__list__item :hover {
    padding: 10px;
    margin-bottom: 10px;
    transition: .5s;
    background-color: black;
    border-radius: 15px;

    box-shadow: 2px 4px 12px darkgrey;
}

/* Esto es el logo */
section.menu .menu__header {
    display: flex;
    align-items: center;
}



/*Sección Title*/
/* falta arreglar***************************** */
section.title {
    /* Espacio entre el menú y el logo */
    width: 82%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
    padding-top: 130px;
}

.title__div {
    display: flex;
    justify-content:center ;
    align-items: center;
}

/* aca esta bien para abajo */
.title__container{
    margin-left: 2rem;
}
div.title__container .title__bio {
    font-size: 42px;
}

div.title__container .title__subsection {
    font-size: 22px;
    color: #464646;
    font-weight: lighter;
    line-height: 1.875rem;
}

div.title__container .title__network {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 20%;
}
.title__network__item:hover{
    box-shadow: 2px 4px 12px darkgrey;
    transition: 0.5s;
    border-radius: 15px;
    padding: 5px;
}
.title__profile{
    width: 300px;
    height: 300px;

}






/*Sección About*/

section.about {
    display: flex;
    justify-content: space-around;
    padding-left: 152px;
    padding-top: 118px;
    padding-bottom: 132px;



    /* Azul/10% */

    background: var(--color-celeste);


}

section.about .about__title {
    font-size: 32px;
}

section.about .about__paragraph {
    font-size: 16px;
    /* width: 902px; */
    padding-right: 25%;
}

/* Seccion Skills */

section.skills {
    width: 82%;
    margin: 0 auto;
}

.skills__title {
    padding-top: 4rem;
    text-align: center;
    font-size: 22px;
    color: #464646;
    margin-bottom: 2rem;

}

section.skills .skills__line {
    display: flex;
    justify-content: space-around;
}

.skills__box {
    background-color: #FFFFFF;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: end;
    justify-content: start;
}
.skills__box:hover{
    box-shadow: 8px 8px 10px darkgrey;
    transition: 0.7s;
}

.skills__img {
    margin-bottom: 0.5rem;
}

/*Sección Hobbies*/

section.hobbies {
    width: 82%;
    margin: 0 auto;
}

.hobbies__title {
    padding-top: 4rem;
    text-align: center;
    font-size: 22px;
    color: #464646;
    margin-bottom: 2rem;
}

.hobbies__line {
    display: flex;
    justify-content: space-around;

}

.hobbies__box {
    background-color: #FFFFFF;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: end;
    justify-content: start;
}
.hobbies__box:hover{
    box-shadow: 8px 8px 10px darkgrey;
    transition: 0.7s;
}

.hobbies__img {
    margin-bottom: 0.5rem;
}


/* Experiencia Académica*/

section.academic {
    background-color: var(--color-celeste);
    padding-top: 3rem;
}

.academic__title {

    text-align: center;

}

.academic__courses {
    display: flex;
    justify-content: center;
    align-items: end;

}

.academic__courses__list {
    text-align: center;
}

.academic__courses__box {
    margin: 0 3rem;
}

.academic__courses__item__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 250px;
    width: 270px;

}

/* experiencia*/

section.experience {
    width: 82%;
    margin: 0 auto;
    padding-top: 3rem;
}

.experience__section__title {
    text-align: center;
    padding-bottom: 1rem;
}

.experiencie__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
}

.experience__info {
    margin: 0 1.55rem;
    ;
}

.experiencia__botao--repo {
    width: 6rem;
    height: 3rem;
    border-color: var(--color-azul);
    background: none;
    color: var(--color-azul);
}

.experience__botao--demo {
    background: var(--color-azul);
    border: none;
    width: 6rem;
    height: 3rem;
    color: #FFFFFF;
}

/*Contacto*/

.formcontato {
    background: var(--color-celeste);
}

.formcontato__contacto {
    display: flex;
    width: 82%;
    margin: 0 auto;
    padding: 6rem 0;
    justify-content: center;
}

.formcontato__title {
    margin: 0;
}

.formcontato__text {
    margin-left: 1rem;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
}


/* BOTON */
.formcontato__group {
    position: relative;
    margin-bottom: 2rem;
}

.formcontato__input {
    box-sizing: border-box;
    border-bottom: 1px solid var(--secondary-color);
    padding: 1.375rem 0.5rem 0.5rem;
    height: 2.15rem;
    width: 100%;
}

.formcontato__label {
    position: absolute;
    top: 0.75rem;
    left: 0.5rem;
    font-size: 13px;
    transition: all 0.25s;
}

.formcontato__input:focus ~ .formcontato__label,
.formcontato__input:not(:placeholder-shown) ~ .formcontato__label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}


.formcontato__input:focus::placeholder,
.formcontato__input:not(:placeholder-shown)::placeholder {
    visibility: hidden;
}

.formcontato__textarea {
    box-sizing: border-box;
    border-bottom: 1px solid var(--secondary-color);
    padding: 1.375rem 0.5rem 0.5rem;
    width: 100%;
    resize: none;
    height: 7rem;
}

/* FALTA CORREGIR EL INPUT */


.formcontato__botao {
    background: var(--color-azul);
    border: none;
    width: 8rem;
    height: 3rem;
    color: #FFFFFF;
}


/*footeer*/

section.footer {

    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #000;
    color: whitesmoke;
}
.footer p {
    margin: 0.5rem;
}
.footer__rodape{
    display: flex;
    flex-direction: column;
}
/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

    /* Menú */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/

    /*Titulo*/

    /*Sección sobre mi*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    /*Contacto*/

    /*Footer*/

}