/*Sección About*/

.about {
    display: flex;
    justify-content: space-around;
    padding-left: 152px;
    padding-top: 118px;
    padding-bottom: 132px;



    /* Azul/10% */

    background: var(--color-celeste);


}

.about__title {
    font-size: 32px;
}

 .about__paragraph {
    font-size: 16px;
    /* width: 902px; */
    padding-right: 25%;
}
@media screen and (max-width: 1280px) {
    .about{
        text-align: center;
        padding:0;
        padding-bottom: 2rem;
    }
    .about__title{
        padding-top: 3.5rem;
        font-size: 25px;
    }
    .about__paragraph{
        font-size: 15px;
        line-height: 1rem;
        padding: 0;
    } 
    .about__container{
        width: 82%;
    }
    .about__container img{
        margin: auto;
    }
}