/*Sección Menu*/
/* Esto es el toolbar */
.menu {
    padding-top: 0.5%;
    display: flex;
    /* Espacio entre el menú y el logo */
    justify-content: space-around;
    align-items: start;
    position: fixed;
    width: 100%;
    background-color: var(--cor-de-fundo);
    z-index: 1;
    margin-top: 0;
    background-color: #000;
    color: whitesmoke;
}

.menu a {
    color: whitesmoke;
}

.menu__list {
    display: flex;
}

.menu__list__item {
    margin-top: 1rem;
    padding: 0 10px;

}
.menu__list__item :hover {
    padding: 10px;
    margin-bottom: 10px;
    transition: .5s;
    background-color: black;
    border-radius: 15px;

    box-shadow: 2px 4px 12px darkgrey;
}

/* Esto es el logo */
 .menu__header {
    display: flex;
    align-items: center;
}
.menu__movil{
    display: none;
}

.menu__list__item {
    padding: 0 10px;

}


/*Mobile*/
@media screen and (max-width: 1280px) {


    .menu__nav{
        background-color: black;
        width: 100%;
    }
    .menu__list{
        width: 76%;
        display: flex;
        position: absolute;
        background-color: #000;
        top: 4.8249rem;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s;
        left: 0%;
        border-bottom-right-radius:15% ;

    }
    .menu__list__item{
        margin: 1rem 0.2%;
    }
    .menu__list-show {
        opacity: 0.9;
        pointer-events: auto;
        position: fixed;
    }
    .menu__title{
        margin-left: 1rem;
        width: 10rem;
    }

    .menu{
        width: 100%;
        display: flex;
        align-items: center;
        position: fixed;
    }
    .menu__header{
        margin: 0 1rem; 
        padding: 0;
        
    }
    .menu__movil{
        display: flex;
    }
    .menu__movil img{   
        width: 40px;
        margin-right: 1rem;
    }



}